@mixin position-absolute($top,$left) {
  position: absolute;
  top: $top;
  left: $left;
}
@mixin position-relative($top,$left) {
  position: relative;
  top: $top;
  left: $left;
}
// CSS arrows
@mixin arrow-down ($arrowColor){
  content: ".";
  display: block;
  font-size: 0;
  width: 0px;
  height: 0px;
  border-left: 4px solid transparent;
  border-top: 6px solid $arrowColor;
  border-right: 4px solid transparent;
  border-bottom: 5px solid transparent;
}
@mixin arrow-up ($arrowColor){
  content: ".";
  display: block;
  font-size: 0;
  width: 0px;
  height: 0px;
  border-left: 4px solid transparent;
  border-top: 6px solid transparent;
  border-right: 4px solid transparent;
  border-bottom: 5px solid $arrowColor;
}
@mixin arrow-right ($arrowColor){
  content: ".";
  display: block;
  font-size: 0;
  width: 0px;
  height: 0px;
  border-left: 5px solid $arrowColor;
  border-top: 4px solid transparent;
  border-right: 6px solid transparent;
  border-bottom: 5px solid transparent;
}
@mixin arrow-left ($arrowColor){
  content: ".";
  display: block;
  font-size: 0;
  width: 0px;
  height: 0px;
  border-left: 6px solid transparent;
  border-top: 4px solid transparent;
  border-right: 5px solid $arrowColor;
  border-bottom: 4px solid transparent;
}
// Breakpoints - uses Bootstrap defaults
@mixin breakpoint($point) {
  @if $point == phone {
    @media (max-width: 765px) { @content; }
  }
  @else if $point == tablet {
    @media (min-width: 766px) and (max-width: 992px) { @content; }
  }
  @else if $point == desktop {
    @media (min-width: 992px) { @content; }
  }
  @else if $point == allmobile {
    @media (max-width: 991px) { @content }
  }
}
